langchain
langgraph
langchain-core
langchain-community
langchain-groq
langchain-openai
langchain-huggingface
langchainhub
sqlalchemy
pymysql
mysql-connector-python
langchain-experimental
faiss-cpu
chromadb
sentence-transformers
python-dotenv
langsmith
tiktoken
pydantic
typing-extensions
transformers